[submodule "S3_BD/lab4/cinema"]
	path = S3_BD/lab4/cinema
	url = https://github.com/SpectraL519/cinema.git
[submodule "S3_TP/lab1/pwr_s3_tp_lab1"]
	path = S3_TP/lab1/pwr_s3_tp_lab1
	url = https://github.com/SpectraL519/pwr_s3_tp_lab1.git
