[submodule "PWR-S1-WIP"]
	path = PWR-S1-WIP
	url = https://github.com/SpectraL519/PWR-S1-WIP.git
[submodule "PWR-S2-MD"]
	path = PWR-S2-MD
	url = https://github.com/SpectraL519/PWR-S2-MD.git
[submodule "PWR-S2-KP"]
	path = PWR-S2-KP
	url = https://github.com/SpectraL519/PWR-S2-KP.git
[submodule "PWR-S3-MPiS"]
	path = PWR-S3-MPiS
	url = https://github.com/SpectraL519/PWR-S3-MPiS.git
[submodule "PWR-S3-TP"]
	path = PWR-S3-TP
	url = https://github.com/SpectraL519/PWR-S3-TP.git
[submodule "PWR-S3-BD"]
	path = PWR-S3-BD
	url = https://github.com/SpectraL519/PWR-S3-BD.git
[submodule "PWR-S3-AKiSO"]
	path = PWR-S3-AKiSO
	url = https://github.com/SpectraL519/PWR-S3-AKiSO.git
[submodule "PWR-S4-AM"]
	path = PWR-S4-AM
	url = https://github.com/SpectraL519/PWR-S4-AM.git
[submodule "PWR-S4-AOD"]
	path = PWR-S4-AOD
	url = https://github.com/SpectraL519/PWR-S4-AOD.git
[submodule "PWR-S4-AiSD"]
	path = PWR-S4-AiSD
	url = https://github.com/SpectraL519/PWR-S4-AiSD.git
[submodule "PWR-S4-WSI"]
	path = PWR-S4-WSI
	url = https://github.com/SpectraL519/PWR-S4-WSI.git
[submodule "PWR-S4-TS"]
	path = PWR-S4-TS
	url = https://github.com/SpectraL519/PWR-S4-TS.git
[submodule "PWR-S5-JFTT"]
	path = PWR-S5-JFTT
	url = https://github.com/SpectraL519/PWR-S5-JFTT.git
[submodule "PWR-S5-ON"]
	path = PWR-S5-ON
	url = https://github.com/SpectraL519/PWR-S5-ON.git
[submodule "PWR-S5-PW"]
	path = PWR-S5-PW
	url = https://github.com/SpectraL519/PWR-S5-PW.git
[submodule "PWR-S5-AM"]
	path = PWR-S5-AM
	url = https://github.com/SpectraL519/PWR-S5-AM.git
[submodule "PWR-S6-BK"]
	path = PWR-S6-BK
	url = git@github.com:SpectraL519/PWR-S6-BK.git
[submodule "PWR-S6-JPP"]
	path = PWR-S6-JPP
	url = git@github.com:SpectraL519/PWR-S6-JPP.git
[submodule "PWR-S6-SW"]
	path = PWR-S6-SW
	url = git@github.com:SpectraL519/PWR-S6-SW.git
